body {
    background-image:url('about.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-familiy:cursive;
}
body h1 {
       -webkit-text-stroke-width: 2px;   
       -webkit-text-stroke-color: black;    
       font-family:cursive;
       text-align:center;
}
body h2 {
       text-align:center;
       font-family:veradana,cursive;
}
.container .works-grid-3 .work-item {
  width: 33.2%;
}